:root {
}

body {
    min-height: 100vh;
    padding: 1rem;
    
    justify-content: center;
    align-items: center;
    background: black;
    font-family: Helvetica, sans-serif;
    color: white;
    text-align: center;
}

.weather_block {
    text-align: center;
    background: dimgrey;
    max-width: 100%;
}
