<html>
    <head>
        <title>Weatherberry</title>
        {% include "css.html" %}
    </head>
    <body>
        <div class="weather_block">
            |----( [ Date ] [ {{ stats[0] }} ] ) ~~ ( [ Temperature {{ stats[1]
            }} F ] ) ~~ ( [ Pressure {{ stats[2] }} hPa ] ) ~~ ( [ Humidity {{
            stats[3] }} % ] ) ----|
        </div>

        <img
            src="{{url_for('static', filename='dailyMinMaxMean.png')}}"
            alt="Temperature Graph"
        />
    </body>
</html>
