<html>
    <head>
        <title>Weatherberry</title>
        {% include "css.html" %}
    </head>
    <body>
        <div class="weather_block">
            [Date] <br />{{ stats[0] }}<br />
            [Temperature] <br />{{ stats[1] }} F<br />
            [Pressure] <br />{{ stats[2] }} hPa<br />
            [Humidity] <br />{{ stats[3] }} %<br />
        </div><br /><br />
        <img
            src="{{url_for('static', filename='temp_plot.png')}}"
            alt="Temperature Graph"
        />
    </body>
</html>
